/* CSS STYLES */

*{
    margin: 0;
    padding: 0;
}

body {
    color: #b48801;
}

header {
    background-color: black;
    height: 1000px;
}

a {
    color: #232d5e;
    font-family: 'BEYNO', cursive;
}

a:hover {
    text-decoration: none;
    color: yellow;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    padding-top: 18px;

}


nav li {
    padding: 10px;
}

.logo {
    padding-top: 10px;
    font-size: 60px;
    font-family: 'BEYNO', cursive;
    text-transform: uppercase;
    color: #232d5e;
    text-align: center;
    
}

#headerText {
    color: #b48801;
    font-family: 'BEYNO', cursive;
    font-size: 80px;
    text-align: center;
    padding-top: 320px;
}

.blurb {
    color: white;
    font-size: 20px;
    font-family: 'BEYNO', cursive;
}

.thePrincess {
    font-family: 'BEYNO', cursive;
    font-weight: lighter;
    padding: 50px 0px;
    color: #1c1c1c;
}

#shuri2 {
    display: block;
    margin: auto;
    width: 80%;
    
}

#flexIMGs{
	min-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
	padding: 10px 10px 40px 10px;
}


#flexIMGs img{
	height: 250px;
	width: 250px;
}


footer {
    background-color: black;
    color: #e6e7e8;
    font-family:'BEYNO', cursive;
    height: 60px;
    padding-top:20px;
    padding-left: 15px;

}

